/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #f8f9fa;
  color: #222;
}

/* HeaderNav */
header {
  background: #704848;
  padding: 10px 20px;
}

nav.navbar a {
  color: #c57e7e;
  margin-right: 18px;
  text-decoration: none;
  font-weight: 500;
}

nav.navbar a:hover {
  color: #275064;
}

/* HERO SECTION */
.hero {
  background: #19242e;
  color: white;
  padding: 90px 30px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;

}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
}

/* IMAGE */
.hero-image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  align-items: center;
  border-radius: 50%; /* makes it circular */
  border: 4px solid white;
}

/* Sections */
section {
  padding: 40px 20px;
}

.about, .skills, .projects, .contact {
  background: #fff;
  margin-top: 40px;
  border-radius: 8%;
  padding: 40px;
}

/* about */
.about p {
  list-style: inside square;
  background: #919eaa;
  padding: 18px;
  border-radius: 6px;
  width: 100%;
  max-width: 250px;
}

.about p {
  margin: 6px 0;
}


/* Skills list */
.skills ul {
  list-style: inside square;
  background: #919eaa;
  padding: 18px;
  border-radius: 6px;
  width: 100%;
  max-width: 250px;
}

.skills li {
  margin: 6px 0;
}

/* Projects */
.projects .project-list {
  list-style: inside square;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.project-card {
  
  background: #919eaa;
  padding: 18px;
  border-radius: 6px;
  width: 100%;
  max-width: 250px;
}

/* Footer */
footer {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 18px 10px;
  margin-top: 30px;
}